@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Yekan";
    src: url("../../public/font-yekan/Yekan.ttf");
  }

@font-face {
    font-family: "DanaFaNum";
    src: url("../../public/font-danaFanNum/DanaFaNum-Bold.woff2");
  }
  .dana-bold{
    font-family: DanaFaNum !important;
  }
  *{
    font-family:Yekan;
  }